<div class="page-wrap">
   <div class="content-wrap " >
      <div class="m-page">
         
         <div id="departments-page-container" class="departments-stretch">
            <div>
               <div>
                  <div id="hero-top" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4), transparent), url(<%= asset_path 'careers.png'%>); background-position: 35% 35%; background-repeat: no-repeat; background-size: cover">
                     <section class="hero-text">
                        <div class="text">The Hippiedom of Travellers</div>
                        <h2>Since Oct, 2017</h2>
                     </section>
                  </div>
                  <div id="stats" class="job-page">
                     <div id="job-page-stats-container">
                        <section>
                           <div class="press-stats clearfix">
                              <div class="stat">
                                 <div class="stat-val">1</div>
                                 <div class="stat-caption ">MISSION</div>
                              </div>
                              <div class="stat">
                                 <div class="stat-val">1</div>
                                 <div class="stat-caption ">CITY</div>
                              </div>
                              <div class="stat">
                                 <div class="stat-val">1000+</div>
                                 <div class="stat-caption ">HIPPIES</div>
                              </div>
                              <div class="stat">
                                 <div class="stat-val">500+</div>
                                 <div class="stat-caption ">EXPERIENCES</div>
                              </div>
                             
                           </div>
                        </section>
                     </div>
                  </div>
                  <div class="divider"></div>
                  <div id="headline-bottom">
                     <section>
                        <div id="departments-description">
                           <span class="red-headline">
                           Building something bigger than ourselves.
                           </span>
                           <span class="departments-subheadline">
                          Dude, it was so cool back in the 60s, the heyday of hippiedom. Hitchhiking solo across continents, the love for different cultures, mind-altering excursions, and the free travel! Being a hippie was far out. Cut to the 21st century [sound of a needle scratching across a record]. "You want to travel like a Hippie?" OK, you're no square, so let's see if <b>Roots</b> can help, 'cause that's our bag!
                           </span>
                           <br/>
                        </div>
                     </section>
                  </div>
                  <section>
                     <div id="headline-bottom">
                        <section>
                           <div id="departments-description">
                              <span class="red-headline">
                              The <b>Modern Day Hippie Travellers</b>
                              </span>
                           </div>
                        </section>
                     </div>
                     <div id="hero-top" class="cover-background" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4), transparent), url(<%= asset_path 'hitchhike.jpg'%>);">
                        <section class="hero-text">
                           <div class="description">These are the <b>millions</b> of travellers who travel each year in desire to explore and travel freely in the <b>unknown</b> lands and seas.</div>
                        </section>
                     </div>
                  </section>
                  <section>
                     
                      <div id="hero-top" class="cover-background" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4), transparent), url(<%= asset_path 'backpacker2.jpg'%>);">
                        <section class="hero-text">
                           <div class="description">They all face multiple problems ranging from being fooled by <b>local guides</b> with incomplete information to wasting life in finding the <b>best nearby experiences</b> to live by.</div>
                        </section>
                     </div>
                  </section>
                  <section>
                     <div id="headline-bottom">
                        <section>
                           <div id="departments-description">
                              <span class="red-headline">
                              <b>Roots, Hippie's Travel App: Explore Gokarna</b>
                              </span>
                           </div>
                        </section>
                     </div>
                      <div id="hero-top" class="cover-background" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4), transparent), url(<%= asset_path 'clutter.jpg' %>);">
                        <section class="hero-text">
                           <div class="description">Roots for <b>Gokarna</b> is our first attempt to encourage millions of modern day travellers to travel like a Hippie by simplifying and clearing out the clutter of information in the <b>unknown nearby.</b></div>
                        </section>
                     </div>
                  </section>
                  <div id="headline-bottom">
                     <section>
                        <div id="departments-description">
                           <div>
                              <span class="red-headline">
                              For <b>Local Businesses</b>
                              </span>
                              
                           </div>
                           <br/>
                           <%= image_tag ("business.png") %>
                           <span class="departments-subheadline">
                          We connect local businesses with the travellers. More coming soon.
                           </span>
                           <br/>
                        </div>

                     </section>
                     <div id="footer-apply">
                        <div id="apply-section">
                           <a class="apply-button" href="/careers/teams">
                           Join our Team
                           </a>
                       </div>
                       </div>
                  </div>

               </div>
            </div>
            
         </div>
      </div>
   </div>
   
</div>
