<div class="wide-page">
    <div style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4), transparent), url(<%= asset_path 'careers.jpg' %>); background-position: 70% 70%; background-repeat: no-repeat; background-size: cover" id="hero-top" class="hero-img">
        <div class="text">For Students</div>
        <h2>Starting Dec 4, 2017</h2>
    </div>
    <div id="headline-bottom">
        <section>
            <h6>ROOTS BEACH INTERNSHIP PROGRAM</h6>
            <p id="one-spark-description">
            At Roots, we have several exciting opportunities available for university grads and students who want to grow with us in solving the challenge of bringing the <b>entire globe on the Roots map</b>. We move fast and bold. We believe in reaching to the depths of whatever we do, and executing things from the heart.
            </p>
        </section>
    </div>
</div>
<div id="footer-apply">
    <br/>
    <br/>
    <br/>
    <h3 style="text-align: center; padding: 20px;">3 Reasons Why You Should Work With Us.</h3>
    <section>
        <div id="company-info">
            <div class="info-box">
                Entrepreneurship
                <p>
                    It's an opportunity to closely see and learn in a startup environment, where <b>things are executed at the speed of thought</b>.
                </p>
            </div>
            <div class="info-box">
                Mentorship
                <p>
                   You would be <b>closely mentored</b> by our Founder who is an IITD grad, a serial entrepreneur and a product & technology evangelist since last 5 years.
                </p>
            </div>
            <div class="info-box">
                Beach Life
                <p>
                  You work on 5 days in a week and on the remaining 2 days, enjoy the beach life!
                </p>
            </div>
        </div>
        
    </section>
</div>
<div id="footer-apply">
    <br/>
    <br/>
    <br/>
    <h3 style="text-align: center;">Current Openings</h3>
    <div id="departments">
       <section>
          <a href="/careers/teams/internships/1/Business Development">
             <div class="department-box">
                <%= image_tag ("bd.jpg"), :class => "dept-icon" %>
                <h4>Business Development</h4>
                <h6>GOKARNA</h6>
             </div>
          </a>
          <a href="/careers/teams/internships/2/Content Research">
             <div class="department-box">
             
                <%= image_tag ("researcher.png"), :class => "dept-icon" %>
                <h4>Content Researcher</h4>
                <h6>REMOTE</h6>
             </div>
          </a>
          <a href="/careers/teams/internships/3/Offline Marketing">
             <div class="department-box">
                <%= image_tag ("offline.png"), :class => "dept-icon" %>
                <h4>Offline Marketing</h4>
                <h6>GOKARNA</h6>
             </div>
          </a>
          <a href="/careers/teams/internships/4/Online Marketing">
             <div class="department-box">
                <%= image_tag ("online.png"), :class => "dept-icon" %>
                <h4>Online Marketing</h4>
                <h6>REMOTE</h6>
             </div>
          </a>
         
       </section>
    </div>
</div>
