<div class="m-page m-jobs departments-stretch ">
	<div class="wide-page">
	    <div id="headline-bottom">
	        <section>
	            <span class="red-headline">
              		<b>DEVELOPERS</b>
              	</span>
	            
	            <div>
	               <br/>Use RTS Network to innovate in Tourism industry.<br/>Some examples below...
	            </div>
	        </section>
	    </div>
	</div>

	<div id="flat">
	    <ul>
		    <li><%= image_tag "nearby.png" %></li>
		    <li><%= image_tag "insurance.png" %></li>
		    <li><%= image_tag "agents.png" %></li>
		    <li><%= image_tag "iot.png" %></li>
		    <li><%= image_tag "group.png" %></li>
		    <li><%= image_tag "invest.png" %></li>
		    <li><%= image_tag "score.png" %></li>
		</ul>
	</div>
	
</div>