<div class="m-page m-jobs departments-stretch ">
	<div class="wide-page">
	    <div id="headline-bottom">
	        <section>
	            <span class="red-headline">
              		<b>DEVELOPERS</b>
              	</span>
	            
	            <p id="one-spark-description">
	               Use Roots Network to innovate in Tourism industry. Some examples below..
	            </p>
	        </section>
	    </div>
	</div>

	<div id="flat">
	    <ul>
		    <li><%= image_tag "for_businesses.png" %></li>
		    <li><%= image_tag "for_businesses.png" %></li>
		    <li><%= image_tag "for_businesses.png" %></li>
		    <li><%= image_tag "for_businesses.png" %></li>
		    <li><%= image_tag "for_businesses.png" %></li>
		    <li><%= image_tag "for_businesses.png" %></li>
		    <li><%= image_tag "for_businesses.png" %></li>
		</ul>
	</div>
	
</div>