<a href="https://www.fb.com/gorootsai/" target="_blank"><%= fa_icon "facebook", :class => "fa-2x social-icon" %></a>
<a href="https://t.me/gorootsai/" target="_blank"><%= fa_icon "telegram", :class => "fa-2x social-icon" %></a>
<a href="https://twitter.com/gorootsai" target="_blank"><%= fa_icon "twitter", :class => "fa-2x social-icon" %></a>
<a href="https://www.youtube.com/channel/UCurqAGOFTn2to-UV42adJQA?view_as=subscriber" target="_blank"><%= fa_icon "youtube", :class => "fa-2x social-icon" %></a>
<a href="https://medium.com/@gorootsai/" target="_blank"><%= fa_icon "medium", :class => "fa-2x social-icon" %></a>
<a href="https://www.instagram.com/gorootsai/" target="_blank"><%= fa_icon "instagram", :class => "fa-2x social-icon" %></a>
<a href="https://github.com/roots-ai" target="_blank"><%= fa_icon "github", :class => "fa-2x social-icon" %></a>
<a href="https://www.linkedin.com/company/roots-ai/" target="_blank"><%= fa_icon "linkedin", :class => "fa-2x social-icon" %></a>