<div class="m-page m-jobs departments-stretch " id="team">
	<div id="footer-apply">
		<div class="wide-page">
		    <div id="headline-bottom">
		        <section>
		            <span class="red-headline">
	              		<b>FOUNDING TEAM</b>
	              	</span>
		            
		            <p id="one-spark-description">
		               Brains behind
		            </p>
		            <%= image_tag ("ironman.jpg"), :class => "limitless" %>
		        </section>
		    </div>
		</div>
	   	<div class="people">
	     	<div  class="about-me-wrapper">
		     	<div class="about-me-image-wrapper">
		        	<%= image_tag ("bhuwan.jpg"), :class => "about-me" %>
		     		<a class="linkedin" href="https://www.linkedin.com/in/bhuwanarora/" target="_blank"><%= fa_icon "linkedin" %></a>
		     	</div>
		     	<div class="about-me-description">
		     		<div>
		     		Bhuwan is an ardent Technology & Product Evangelist and carries a 360 degree birds eye view towards entrepreneurship. After working with Housing.com, he started his first company ReadersDoor.com, which was the fastest growing company among book lovers all across the globe, where he raised funding from Outbox ventures, and had 1 Lakh active users per month. In last 5 years, he has worked on Design, Product, Technology (Web, Android), Data Analytics, Artificial Intebcselligence and Marketing, and have hustled and learned things that came his way.
					<br/>Keeping a balanced life for Bhuwan means pushing physical limits through high intensity workouts, exploring different chords on his acoustic guitar, and staying mindful by trying different meditation techniques.</div>
		     		<h3>BHUWAN ARORA</h3>
		     		<div class="job-title">CoFounder, CEO</div>
		     	</div>
	     	</div>
	     	<div  class="about-me-wrapper">
		     	<div class="about-me-image-wrapper">
		        	<%= image_tag ("yadip.jpg"), :class => "about-me" %>
		     		 <a class="linkedin" href="https://www.linkedin.com/in/yadipadlakha/" target="_blank"><%= fa_icon "linkedin" %></a>
		     	</div>
		     	<div class="about-me-description">
		     		<div>Yadip is an experienced software developer with expertise in Machine Learning and Artificial Intelligence. An year back, he ventured into blockchain tech and cryptocurrency trading. Deep learning, Smart Contracts and Crypto assets are what fascinates him. He has worked as a Senior Engineer in Mercedez Benz R&D, where he developed Intelligent Interiors in the car using Machine Learning and Deep Learning models. He in parallel played around creating small applications around Cryptocurrency trading, blockchain price analysis and price prediction of stocks and indices.<br/>
					He also worked on a classified project where his role was to optimize and re-design the complete architecture of a product been used by banks all over the world. His first five years of Software Engineering at Adobe and HCL were spent playing around creating several applications in C, C++.
		     		</div>
		     		<h3>YADIP ADLAKHA</h3>
		     		<div class="job-title">CoFounder, Head of Roots Network</div>
		     	</div>
	     	</div>
	     	<div  class="about-me-wrapper">
		     	<div class="about-me-image-wrapper">
		        	<%= image_tag ("amit.jpeg"), :class => "about-me" %>
		     		 <a class="linkedin" href="https://www.linkedin.com/in/amit-sharma-07381714/" target="_blank"><%= fa_icon "linkedin" %></a>
		     	</div>
		     	<div class="about-me-description">
		     		<div>Amit Sharma is the life of discussions at Roots, he has the knack to breakdown the toughest of problems into structured flows, which he then plays around to build smart strategies. This skillset of his had been prominent while working as the core team member of the India’s largest pre-owned Two-wheeler market place, CredR, where he launched 5 cities from 0 to 1 and brought C2B business model into this industry and further created the first ever chain of pre-owned bike stores. He also strategised and monitored the India's largest grassroot level campaign for the Modi's BJP govt during general election 2014.
		     		</div>
		     		<h3>AMIT SHARMA</h3>
		     		<div class="job-title">CoFounder, Head of Operations</div>
		     	</div>
	     	</div>


	  	</div>
	</div>
</div>

<section>
     <div id="headline-bottom">
        <section>
           <div id="departments-description">
              <span class="red-headline">
              	<b>ADVISORS</b>
              </span>
              	<p>
       				Our Mentors
    			</p>
           </div>
        </section>
     </div>
    <div id="company-info">
        <div class="info-box">
            <div class="about-me-image-wrapper">
	        	<%= image_tag ("animesh.jpg"), :class => "about-me" %>
	     	</div>
	     	<div>
	     		<h3>Animesh Singh</h3>
	     		<p>Chief Operating Officer, Health & Glow</p>
	     	</div>
        </div>
        <div class="info-box">
            <div class="about-me-image-wrapper">
	        	<%= image_tag ("photo.jpg"), :class => "about-me" %>
	     	</div>
	     	<div>
	     		<h3>Rohit</h3>
	     		<p>Blockchain Speaker and Evangelist</p>
	     	</div>
        </div>
    </div>
  </section>