
<div id="team">
  
  <section>
       <div id="headline-bottom">
          <section>
             <div id="departments-description">
                	<span class="red-headline">
                		<b>FOUNDING TEAM</b>
                	</span>
                	<div>
  		        	<br/>Brains behind<br/>
  		        </div>
  		        <%= image_tag ("ironman.jpg"), :class => "limitless" %>
             </div>
          </section>
       </div>
      <div id="company-info">
          <div class="info-box">
              <div class="about-me-image-wrapper">
  	        	<%= image_tag ("bhuwan.jpg"), :class => "about-me" %>
  	     		<a class="linkedin" href="https://www.linkedin.com/in/bhuwanarora/" target="_blank"><%= fa_icon "linkedin" %></a>
  	     	</div>
  	     	<div>
  	     		<h3>BHUWAN ARORA</h3>
  	     		<div class="job-title">CoFounder, CEO</div>
  	     	</div>
          </div>
          <div class="info-box">
              <div class="about-me-image-wrapper">
  	        	<%= image_tag ("yadip.jpg"), :class => "about-me" %>
  	     		<a class="linkedin" href="https://www.linkedin.com/in/yadipadlakha/" target="_blank"><%= fa_icon "linkedin" %></a>
  	     	</div>
  	     	<div>
  	     		<h3>YADIP ADLAKHA</h3>
  	     		<div class="job-title">CoFounder, Head of RTS Network</div>
  	     	</div>
          </div>
         
         
      </div>
    </section>

  <section>
       <div id="headline-bottom">
          <section>
             <div id="departments-description">
                <span class="red-headline">
                	<b>ADVISORS</b>
                </span>
                	<div>
         				<br/>Our Mentors
      			</div>
             </div>
          </section>
       </div>
      <div id="company-info">
          <div class="info-box">
              <div class="about-me-image-wrapper">
  	        	<%= image_tag ("animesh.jpg"), :class => "about-me" %>
  	     	</div>
  	     	<div>
  	     		<h3>Animesh Singh</h3>
  	     		<div class="job-title">Chief Operating Officer, Health & Glow</div>
  	     	</div>
          </div>
         
      </div>
    </section>
</div>