<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Lato:900|Heebo:900|Montserrat|Ubuntu:700" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script> 

<%= render partial: "website/partials/header"%>

<div class="homepage">
	
	<div id="particles-js"></div>
	<div class="blocks-parent-wrapper">
		<div class="blocks-wrapper">
			<div class="blocks">
				<div class="download-container">
					<div class="home-download-app" translate="home.orDownloadNow">
						<div class="brand-tagline">TOKENISING THE TRAVEL INDUSTRY</div>
						<div>RTS Network is a new decentralised blockchain that creates a self driven digital commonwealth in Tourism for suppliers and consumers.</div>
						<div>We're proud to release Beta on the Android.</div>
						<div>iOS coming soon.</div>
					</div>
					<div class="download-buttons">
						<a href=""class="download-button">
							<%= image_tag "appStore.svg", :alt => "Apple App Store", :class => "hide-block" %>
						</a>
						<a href="https://play.google.com/store/apps/details?id=ai.roots" class="download-button" target="_blank">
							<%= image_tag "playStore.svg", :alt => "Google Play Store", :class=>"active-app-link"%>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="blocks-footer-wrapper">
    <p class="white">Connect with us</p>
		<%= render partial: "website/partials/social"%>
	</div>
</div>
	
<div id="rootsMap">
	<%= render partial: "website/partials/map"%>
</div>

<div class="page-wrap" style="margin-top: -210px">
   <div class="content-wrap " >
      <div class="m-page">
         <div id="departments-page-container" class="departments-stretch">
            <div>
               <div>
               	 <div class="divider"></div>
                  <div id="headline-bottom">
                     <section>
                        <div id="departments-description">
                           <span class="red-headline">
			              		<b>ROOTS GLOBAL VISION</b>
			              	</span>
			              	<p>Future of Travel is Now</p>
                           <span class="departments-subheadline">
                           Tourism is a 7.6 Trillion dollar industry, and today faces many challenges both at the traveller as well as the business ends. Roots goal is to create a self driven model that will simplify travel in all its aspects, and would make it cheaper and more enjoyable for consumers and allow the creation of new business models in the travel industry by removing the intermediaries. This will slowly eliminate on-ground operations required in managing Tourism related businesses and would sow seeds of a self-driven-economy.<br/><br/>
                           Our Application layer, <b>Roots Platform</b> and the blockchain layer, <b>RTS Network</b> are the rocket and fuel of our Ecosystem.
                           </span>
                           <br/>
                        </div>
                     </section>
                  </div>
                  <div id="hero-top" style="background: url(<%= asset_path 'roots_city.png'%>);background-size: cover;background-position: 18% 35%;">
                    
                  </div>
                  <div id="stats" class="job-page">
                     <div id="job-page-stats-container">
                        <section>
                           <div class="press-stats clearfix">
                              <div class="stat">
                                 <div class="stat-val"><%= fa_icon "hotel" %></div>
                                 <div class="stat-caption ">HOTELS</div>
                              </div>
                              <div class="stat">
                                 <div class="stat-val"><%= fa_icon "cab" %></div>
                                 <div class="stat-caption ">COMMUTE</div>
                              </div>
                              <div class="stat">
                                 <div class="stat-val"><%= fa_icon "fort-awesome" %></div>
                                 <div class="stat-caption ">OUTDOORS</div>
                              </div>
                              <div class="stat">
                                 <div class="stat-val"><%= fa_icon "heart" %></div>
                                 <div class="stat-caption ">ACTIVITIES</div>
                              </div>
                             
                           </div>
                        </section>
                     </div>
                  </div>
                  <section>
	                  <div id="departments-description">
	              		<span class="red-headline">
	              			<b>SEEDS FOR ROOTS PLATFORM</b>
	              		</span>
              			<p>
	               			Our MVP is <b>currently active</b>
	            		 </p>
                   Roots is not just a currency. Roots is a Tourism platform whose strengths are in consumer engagement, especially during destination discovery.
		            </div>
                  </section>
                 <div class="mobile-wrapper" style="background-image: url(<%= asset_path 'mobile.png'%>);">
                 	<div class="mobile-features">
                 		<div class="mobile-feature left-bubble">Covers offbeat destinations which are not found on major portals</div>
                 		<div class="mobile-feature left-bubble">Lets the traveller discover experiences along his route when they head for a local walk or to the hotel.</div>
                 	</div>
                 	<div class="mobile-features">
                 		<div class="mobile-feature right-bubble">Gives interface to connect with businesses directly, instead of going for travel agents</div>
                 		<div class="mobile-feature right-bubble">Shows peer reviews from independent platform thereby removing the chances of fake reviews and ratings</div>
                 	</div>
                 </div>
               </div>
            </div>
            
         </div>
      </div>
   </div>
</div>

  
<%= render partial: "website/partials/ecosystem"%> 
<%= render partial: "website/partials/businesses"%>
<%= render partial: "website/partials/travellers"%>
<%= render partial: "website/partials/developers"%>
<%= render partial: "website/partials/currency"%>
<%= render partial: "website/partials/timeline"%>
<%= render partial: "website/partials/team"%>
<%= render partial: "website/partials/faqs"%>
<%= render partial: "website/partials/contact"%>
<%= render partial: "website/partials/new_footer"%>

<a href="https://api.whatsapp.com/send?phone=919108444157" target="_blank" title="Chat with us"><%= image_tag "whatsapp.png", :alt => "Chat with us", :class => "whatsapp" %></a>

<script>
	particlesJS.load('particles-js', 'particles.json', function() {

	});
	$("#flat").flipster({
		style: 'flat',
	    buttons: true,
	});

	var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        /* Toggle between adding and removing the "active" class,
        to highlight the button that controls the panel */
        this.classList.toggle("active");

        /* Toggle between hiding and showing the active panel */
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>