<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="index.html" style="font-weight: 900">ROOTS</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link active" href="#home">HOME <span class="sr-only">(current)</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#cities">CITIES</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#features">FEATURES</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#gallery">GALLERY</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#contact">CONTACT</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="/careers">CAREERS</a> </li>
                            <li class="nav-item"><a target="_blank" href="https://play.google.com/store/apps/details?id=ai.roots" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">Download</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>


<header class="bg-gradient" id="home" style="background-image: url(<%= asset_url ('1.jpeg')%>); background-size: cover">
    
    <div class="my-4">

        <a href="#" class="btn btn-light"><%= image_tag ("appleicon.png") %> App Store</a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=ai.roots" class="btn btn-light"><%= image_tag ("playicon.png") %> Google play</a>
    </div>
    <div class="img-holder mt-3"><%= image_tag ("iphonex.png"), :class=>"img-fluid"%></div>
</header>

<div class="section" id="cities">
    <div class="container">
        <div class="section-title">
            <small>ONE CITY AT A TIME</small>
            <h3>Making Travelling More Engaging & Fun</h3>
        </div>
        <div class="cities_wrapper">
        	<div class="item1-wrapper">
			  	<div class="item1" style="background-image: url('https://tatinis.com/images/detailed/3/IMG_7907_4jpgfdYUE.jpg')">
			  		<div class="city_name">Singapore</div>
			  		<div class="explore_now">Explore Now</div>
			  	</div>
        	</div>
        	<div class="item2-wrapper">
		  		<div class="item2" style="background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/0a/03/91/76/kudle-beach.jpg')">
		  			<div class="city_name">Gokarna, India</div>
			  		<div class="explore_now">Explore Now</div>
		  		</div>
	  		</div>
	  		<div class="item3-wrapper">
			  	<div class="item3" style="background-image: url('https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2018/04/07/Pictures/weather-rain_d9f08512-3a1f-11e8-90dd-823da00706aa.jpg')">
				  	<div class="city_name">New Delhi, India</div>
			  		<div class="explore_now">Explore Now</div>
			  	</div>
		  	</div>
		</div>
    </div>
</div>

<div class="section light-bg" id="features">


    <div class="container">

        <div class="section-title">
            <small>HIGHLIGHTS</small>
            <h3>Features you love</h3>
        </div>


        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                            <div class="media-body">
                                <h4 class="card-title">Ease of Discovery of a city</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-settings gradient-fill ti-3x mr-3"></span>
                            <div class="media-body">
                                <h4 class="card-title">Hyperlocal Stories & Leaderboards</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card features">
                    <div class="card-body">
                        <div class="media">
                            <span class="ti-lock gradient-fill ti-3x mr-3"></span>
                            <div class="media-body">
                                <h4 class="card-title">Location & Time Specific Suggestions</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
<!-- // end .section -->
<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-6">
                <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
                <h2>Discover our App</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime ratione </p>
                <a href="#" class="btn btn-primary">Read more</a>
            </div>
        </div>
        <div class="perspective-phone">
            <%= image_tag ("perspective.png"), :class=>"img-fluid" %>
        </div>
    </div>

</div>
<!-- // end .section -->


<div class="section light-bg">
    <div class="container">
        <div class="section-title">
            <small>FEATURES</small>
            <h3>Do more with our app</h3>
        </div>

        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#explore">Explore</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#commute">Commute</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#localMarket">Local Market</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#essentials">Essentials</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="explore">
                <div class="d-flex flex-column flex-lg-row">
                    <%= image_tag ("graphic.png"), :class=> "img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"%>
                    <div>

                        <h2>Explore</h2>
                        <p class="lead">Explore</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                            congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                        </p>
                        <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                            sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="commute">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Commute</h2>
                        <p class="lead">Commute.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                            congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                        </p>
                        <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                            sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                        </p>
                    </div>
                    <%= image_tag ("graphic.png"), :class=> "img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"%>
                </div>
            </div>
            <div class="tab-pane fade" id="localMarket">
                <div class="d-flex flex-column flex-lg-row">
                    <%= image_tag ("graphic.png"), :class=>"img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"%>
                    <div>
                        <h2>Local Market</h2>
                        <p class="lead">Local Market</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                            congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                        </p>
                        <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                            sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="essentials">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>Essentials</h2>
                        <p class="lead">Essentials</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium, nisi nisi fermentum enim, et sagittis dolor nulla vel sapien. Vestibulum sit amet mattis ante. Ut placerat dui eu nulla
                            congue tincidunt ac a nibh. Mauris accumsan pulvinar lorem placerat volutpat. Praesent quis facilisis elit. Sed condimentum neque quis ex porttitor,
                        </p>
                        <p> malesuada faucibus augue aliquet. Sed elit est, eleifend sed dapibus a, semper a eros. Vestibulum blandit vulputate pharetra. Phasellus lobortis leo a nisl euismod, eu faucibus justo sollicitudin. Mauris consectetur, tortor
                            sed tempor malesuada, sem nunc porta augue, in dictum arcu tortor id turpis. Proin aliquet vulputate aliquam.
                        </p>
                    </div>
                    <%= image_tag ("graphic.png"), :class=> "img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"%>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- // end .section -->

<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%= image_tag ("dualphone.png"), :class=> "img-fluid"%>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <div class="box-icon"><span class="ti-rocket gradient-fill ti-3x"></span></div>
                    <h2>Explore your City</h2>
                    <p class="mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati vel exercitationem eveniet vero maxime ratione </p>
                    <a href="#" class="btn btn-primary">Read more</a></div>
            </div>
        </div>

    </div>

</div>
<!-- // end .section -->


<div class="section light-bg">

    <div class="container">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <ul class="list-unstyled ui-steps">
                    <li class="media">
                        <div class="circle-icon mr-4">1</div>
                        <div class="media-body">
                            <h5>Create an Account</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium obcaecati vel exercitationem </p>
                        </div>
                    </li>
                    <li class="media my-4">
                        <div class="circle-icon mr-4">2</div>
                        <div class="media-body">
                            <h5>Discover a city</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium obcaecati vel exercitationem eveniet</p>
                        </div>
                    </li>
                    <li class="media">
                        <div class="circle-icon mr-4">3</div>
                        <div class="media-body">
                            <h5>Share your stories</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer rutrum, urna eu pellentesque pretium obcaecati vel exercitationem </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <%= image_tag ("iphonex.png"), :class=>"img-fluid"%>
            </div>

        </div>

    </div>

</div>
<!-- // end .section -->


<div class="section">
    <div class="container">
        <div class="section-title">
            <small>TESTIMONIALS</small>
            <h3>What Travellers Say</h3>
        </div>

        <div class="testimonials owl-carousel">
            <div class="testimonials-single">
                <%= image_tag ("https://lh3.googleusercontent.com/-ST_M4vPziWQ/AAAAAAAAAAI/AAAAAAAAAGI/2RKWdoLaPuI/s96-c-rw/photo.jpg"), :class=>"client-img"%>
                <blockquote class="blockquote">Roots gokarna helps us from getting lost in gokarna. They are the saviors for the travellers like me. He contacted us and gave all the contact number and helped us to get camping things. Roots carnival is the best.</blockquote>
                <h5 class="mt-4 mb-2">Alen Mathew</h5>
            </div>
            <div class="testimonials-single">
                <%= image_tag ("https://lh3.googleusercontent.com/-Ye2KOV9di7Y/AAAAAAAAAAI/AAAAAAAAAAA/AAnnY7qEE7xrrAfORZE550-KAZU1JonLHg/s96-c-rw-mo/photo.jpg"), :class=>"client-img"%>
                <blockquote class="blockquote">Come to gokarna for 3 days atleast. Download this app.. And explore the never seen before surreal.. Mystic.. Gokarnaz treasure hunting every beautiful spot by roots. Using the experience enroute feature. Just trust me on this cos I have been coming to this place since 2008.kudos bhuwan</blockquote>
                <h5 class="mt-4 mb-2">Shrey Singh</h5>
            </div>
            <div class="testimonials-single">
                <%= image_tag ("https://lh3.googleusercontent.com/-5ajfSkNED74/AAAAAAAAAAI/AAAAAAAADxA/AyESdnEj7FQ/s96-c-rw/photo.jpg"), :class=>"client-img"%>
                <blockquote class="blockquote">This app gives you an amazing experience to know everything and more about Gokarna. The replies to your enquiries are super fast. Little details that are hard to find are quick to know here. Must install while travelling to Gokarna. Kudos to the Roots Guys!</blockquote>
                <h5 class="mt-4 mb-2">Ragini T</h5>
            </div>
            <div class="testimonials-single">
                <%= image_tag ("https://lh3.googleusercontent.com/-HS7Soe6gqps/AAAAAAAAAAI/AAAAAAABexg/QIvRPQ-1Ix0/s96-c-rw/photo.jpg"), :class=>"client-img"%>
                <blockquote class="blockquote">Very helpful for me in exploring the hidden experiences in Gokarna. I'll recommend it to all travelers exploring the beach town. Wish to see roots in more cities.</blockquote>
                <h5 class="mt-4 mb-2">Brinda Singh</h5>
            </div>
        </div>

    </div>

</div>
<!-- // end .section -->


<div class="section light-bg" id="gallery">
    <div class="container">
        <div class="section-title">
            <small>GALLERY</small>
            <h3>App Screenshots</h3>
        </div>

        <div class="img-gallery owl-carousel owl-theme">
            <%= image_tag ("screen1.jpg") %>
            <%= image_tag ("screen2.jpg") %>
            <%= image_tag ("screen3.jpg") %>
            <%= image_tag ("screen1.jpg") %>
        </div>

    </div>

</div>
<!-- // end .section -->






<div class="section bg-gradient" style="background-image: url(<%= asset_url ('6517.jpg')%>); background-size: cover">
    <div class="container">
        <div class="call-to-action">

            <div class="box-icon"><span class="ti-mobile gradient-fill ti-3x"></span></div>
            <h2 style="text-shadow: -1px -1px 2px rgba(150, 150, 150, 0.64);">Download Now</h2>
            <p class="tagline" style="text-shadow: -1px -1px 2px rgba(150, 150, 150, 0.64);">FOR REAL STORIES AND REAL EXPERIENCES</p>
            <div class="my-4">

                <a href="#" class="btn btn-light"><%= image_tag ("appleicon.png") %> App Store</a>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=ai.roots" class="btn btn-light"><%= image_tag ("playicon.png") %> Google play</a>
            </div>
            <p class="text-primary"><small><i>*Works on iOS 10.0.5+, Android Kitkat and above. </i></small></p>
        </div>
    </div>

</div>
<!-- // end .section -->

<div class="light-bg py-5" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <p class="mb-2"> <span class="ti-location-pin mr-2"></span> Sector-49, Faridabad, Haryana</p>
                <div class=" d-block d-sm-inline-block">
                    <p class="mb-2">
                        <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:support@roots.ai">support@roots.ai</a>
                    </p>
                </div>
                <div class="d-block d-sm-inline-block">
                    <p class="mb-0">
                        <span class="ti-headphone-alt mr-2"></span> <a href="tel:+91-9108444157">91-9108-444-157</a>
                    </p>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="social-icons">
                    <a href="http://facebook.com/gorootsai"><span class="ti-facebook"></span></a>
                    <a href="https://twitter.com/RTSN0x"><span class="ti-twitter-alt"></span></a>
                    <a href="http://instagram.com/gorootsai"><span class="ti-instagram"></span></a>
                </div>
            </div>
        </div>

    </div>

</div>

<footer class="my-5 text-center">
    <p class="mb-2"><small>COPYRIGHT © 2018. ALL RIGHTS RESERVED. SINGULARITY LOCATION SOLUTIONS PVT LTD</small></p>

    <small>
        <a target="_blank" href="/careers" class="m-2">CAREERS</a>
        <a target="_blank" href="/terms" class="m-2">TERMS</a>
        <a target="_blank" href="/privacy" class="m-2">PRIVACY</a>
    </small>
</footer>